/* Generals */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1000px;
    margin: auto;
}

/* Utilities */

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/* Big Blocks */

header{
    width: 100%;
    height: 150px;
    background-color: rgb(229,121,230);
    margin: 30px 0 30px 0;
}

main{
    width: 100%;
}

.spotlight{
    width: 100%;
    height: 400px;
    background-image: url(img/banner.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
    border-radius: 15px;
}

.leadership{
    width: 1000px;
    min-height: 600px;
    background-color: rgb(16,134,244);
}

footer{
    width: 100%;
    height: 70px;
    background-color: rgb(132,9,231);
    margin: 15px 0px 20px 0px;
}


/* Small Boxes */

.light-blue-header{
    width: 100%;
    /* height: 15%; */
    /* background-color: rgb(171,207,231); */
    margin-bottom: 20px;
}

/*  */

.sidebar{
    width: 25%;
    height: calc(85% - 40px);
    background-color: rgb(171,207,231);
    float: left;
}

.main-content{
    width: calc(50% - 40px);
    height: calc(85% - 40px);
    background-color: rgb(171,207,231);
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

